* {
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: "Kode Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #afeeee;
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
}

section {
    position: relative;
    width: 100%;
    /*min-height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: red;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0 40px 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: yellow;
}


header .Logo {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    background: thistle;
    padding: 0 10px;
    font-weight: 600;
}

header .navbar{
    /*position: relative;*/
    display: flex;
    align-items: center;
    background-color: greenyellow;

}

header .navbar li{
    list-style-type: none;
    margin-left: 30px;
    background-color: blueviolet;

}

header .navbar li a {

    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 70px;
    padding: 10px;
    color: black;
    transition: 0.3s;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: white;
    font-weight: bold;
}

.Titulo {
    color: black;
    font-weight: bold;
}

.icon-cart {
    width: 40px;
    height: 40px;

}

.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    border-radius: 10px;

}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.info-product {
    padding: 15px 30px;
}

.item img {
    transition: all .8s;
}

.item:hover img {
    transform: scale(1.2);
}

.item figure {
    overflow: hidden;
}



img {
    max-width: 100%;
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, .8)
    )
}

.who_png{
    
}

.Inicio{
    font-weight: 800;
    font-size: xx-large;
    border-radius: 10px;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.Inicio:hover{
    background-color: red;
    color: white;
}